<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'open_data_charts/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'open_data_charts/navStyle.css' %}">

<div class="topnav">
    <a class="active" href="/open_data_charts/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for category in chart_list.categories %}
                <a href="/open_data_charts/{{category.cat_name}}/">{{category.cat_name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="search-dropdown">
    <div class="search-form">
    <form method="GET" action="">
    <input type="search" name="search" id="chart-search">
    <button type="submit" id="search-btn"> Search </button>
    </form>
      <div class="search-dropdown-content">
          {% for chart in chart_list.charts %}
              <a href="/open_data_charts/{{chart.chart_category}}/{{chart.chart_id}}">{{chart.chart_title}}</a>
          {% endfor %}
      </div>
  </div>
    </div>
</div>

<body>
<h2>Showing results for {{chart_list.specific_category.cat_name}}:</h2>
<ul>
{% for chart in chart_list.specific_category.chart_set.all %}
    <li>
        <a href="{% url 'open_data_charts:chart' chart_list.specific_category.cat_name chart.chart_id %}">{{chart.chart_title}}</a>
    </li>
{% endfor %}
</ul>
</body>